
要件定義書

■１■　発注者・受注者情報
　発注者　：架空会社
　受注者　：スクール第１班

■２■　プロジェクト概要
　プロジェクト名　　　：HealthyRecipeProject
　プロジェクトの目的　：ヘルシーレシピ集を公開し、健康ニーズの高い読者層を取り込む。
　プロジェクトの背景　：近年の社会的な健康意識の高まりや、ヘルシーブーム。
　プロジェクトの範囲　：WEBサイトとして公開する。

■３■　システム概要
　システムの目的　　　：家庭で作れるヘルシーレシピ集を公開する。
　システムの機能概要　：各種健康要素ごとのレシピの検索機能。レシピ情報の提供。
　システムの利用者　　：webサイトの読者。ペルソナ①40代男性独身、②30代女性家族持ちを設定し、【時短】【手軽】なレシピを提案。

■４■　機能要件
各機能について以下の項目を詳細に記述します。

・レシピ表示機能
　　機能の目的　：読者の見やすいレイアウトで、調理をサポートする。
　　入力データ　：レシピID
　　処理内容　　：レシピIDをもとに、該当レシピの画像、テキスト等の情報をDBより取得し、HTML形式で表示する。
　　出力データ　：レシピ名、画像、タグ属性、解説、材料、手順。

・レシピランキング機能
　　機能の目的　：人気のレシピが一目でわかるような機能。
　　入力データ　：タグ情報
　　処理内容　　：各レシピページアクセス時のアクセスカウント処理。各ページ表示時に、タグ情報により絞り込んだレシピのアクセスカウントを取得し、数に応じてソートする。
　　出力データ　：ランキング名（タグ名）、レシピ名、ランキング番号。

・レシピ検索機能
　　機能の目的　：読者の探したい情報をキーワードによって検索することで、ニーズにあったレシピを提供する。
　　入力データ　：検索キーワード
　　処理内容　　：データベースの情報から、キーワードを含むレシピ名、タグ属性、解説、材料、手順を探し、該当のレシピIDを取得する。
　　出力データ　：レシピ名、画像、タグ属性。

・レシピタグ機能
　　機能の目的　：読者の探したい情報をタグによって検索することで、ニーズにあったレシピを提供する。
　　入力データ　：タグ
　　処理内容　　：データベースの情報から、キーワードを含むレシピを取得する。
　　出力データ　：レシピ名、画像、タグ属性。

・レシピソート機能
　　機能の目的　：レシピ一覧の表示順序を、新着順、時間順、価格順でソート可能にする。
　　入力データ　：ソート要素
　　処理内容　　：データベースの情報から、取得する際のソート基準を変化させ取得する。
　　出力データ　：レシピ名、画像、タグ属性。


■５■　非機能要件）
　サービス稼働期間　：24時間365日稼働する。

■６■　制約事項
　法的制約　　：レシピはクライアントに著作権のあるもの、または著作権フリーのものに限定する。
　技術的制約　：開発言語は、HTML、CSS、Java、SQLを中心とする。
　予算制約　　：低予算
　工程制約　　：2023年11月20日～同年12月26日の期間で作成する。

■７■　用語の定義

・メインカテゴリー
　　『筋トレ』食事の定義
　　　　必須アミノ酸を豊富に含む良質なタンパク質もの。
　　　　筋肉を動かす際に必要なエネルギー源になるもの（体を引き締めるため、とりすぎないように注意）。
　　　　タンパク質の代謝を促進するビタミンB群、筋肉の量や力強さにかかわるとされるビタミンDを多く含むもの。
　　　　歯や骨をつくったり臓器や細胞の活動をサポートしたりするミネラル（特にマグネシウムやカリウム）を含むもの。

　　『ダイエット』食事の定義
　　　　少なめの食事量。
　　　　質量に対して摂取カロリーが控えられたもの。低糖質、低脂質。
　　　　飽和脂肪酸やトランス脂肪酸（バターやマーガリン）などが少ないタンパク質。
　　　　野菜中心のもの。
　　　　GI値が低いもの（食物繊維が豊富で血糖値が上がりずらいもの）。
　　　　アルコールなど、食用増進効果のないもの。

　　『健康』食事の定義
　　　　健康的な体を作る食事。
　　　　身体の諸症状（疲労、冷え性、目のトラブル、関節痛、肌荒れ、便秘、頭痛、貧血、等）を改善する食事。


・タグの候補（平均的な食事と比較して特別秀でるポイント）
　　時短(主食や主菜なら15分、副菜なら10分、デザートなら20分)、簡単(デザートなど、工程は簡単で、冷やす焼くにかかる時間が長い場合に使用)、
　　低カロリー、高たんぱく、低脂質、低糖質、食物繊維、ビタミン、ミネラル、
　　疲労回復、血流改善、血圧改善、関節痛、美肌、腸活、頭痛、貧血、
　　豆、卵、魚、牛肉、鶏肉、豚肉
　　焼き物、煮物、揚げ物、蒸し物
　　和食、洋食、中華、エスニック料理

　　『主食』の定義
　　　　米、もち、パン、うどん、そば、スパゲティーなど、炭水化物を主成分とするエネルギー源となるもの。

　　『主菜』の定義
　　　　主にタンパク質や脂質の供給源、筋肉や血液など体を作る材料になるもの。

　　『副菜』の定義
　　　　体の調子を健康ビタミン、ミネラル、食物繊維の供給源。

　　『デザート』の定義
　　　　菓子・アイスクリーム・コーヒー・果物・チーズなど。

　　『弁当』の定義
　　　　栄養素をバランスよく配置し、持ち運べる形にまとめたもの。
　　　　朝の忙しい時間でも作れる手軽さ。冷凍庫で小分けなのが可能。
　　　　常温でも鮮度が維持できるもの。


