<div class="footer">
<!--	<div class="icon-content">-->

<!--		<div class="snsIcon">-->
<!--			<a href="#" target="_blank">-->
<!--				<img class="footer-icon" src="./img/logo/facebook.jpg" />-->
<!--			</a>-->
<!--		</div>-->

<!--		<div class="snsIcon">-->
<!--			<a href="#" target="_blank">-->
<!--				<img class="footer-icon" src="./img/logo/line.jpg" />-->
<!--			</a>-->
<!--		</div>-->

<!--		<div class="snsIcon">-->
<!--			<a href="#" target="_blank">-->
<!--				<img class="footer-icon" src="./img/logo/instagram.jpg" />-->
<!--			</a>-->
<!--		</div>-->

<!--		<div class="snsIcon">-->
<!--			<a href="#" target="_blank">-->
<!--				<img class="footer-icon" src="./img/logo/twitter.jpg" />-->
<!--			</a>-->
<!--		</div>-->

<!--		<div class="snsIcon">-->
<!--			<a href="#" target="_blank">-->
<!--				<img class="footer-icon" src="./img/logo/youtube.jpg" />-->
<!--			</a>-->
<!--		</div>-->

<!--	</div>-->

	<div>
		<a href="/HealthyRecipeProject/home">
			<img class="mainLogo" src="./img/logo/logo.png" />
		</a>
	</div>

</div>