header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 10px;
}

.headerMain{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid;
}

.logo{
	margin-left: 60px;
	height: 9vw;
	transition: 0.3s;
}

.logo:hover{
	opacity: 0.6;
	transition: 0.3s;
}

/* ▼リンクリスト */
.headerList{
	display: flex;
	list-style: none;
	margin: 0 2px;
}

.headerList li{
	font-weight: bold;
	font-size: 15px;
	padding: 3px 5px;
	margin-bottom: -2px;
	margin-right: -2px;
}

.headerList-border{
	border: 2px solid;
}

.headerList li:hover{
	transition: 0.3s ;
	background-color: #00000015;
}

/* ▲リンクリスト */

/* 検索欄クローズ時 */
.searchForm{
	display: flex;
	visibility: hidden;
	height: 0;
	justify-content: flex-end;
	transition: 0.3s;
}

/* 検索欄オープン時 */
.serchOpen{
	visibility: visible;
	height: 50px;
	transition: 0.3s;
	padding: 10px;
	border: 1px solid;
}

/* 入力欄 */
.searchForm form{
	width: 40%;
}

.inputBox{
	height: 100%;
	width:  85%;
	margin-right: 5px;
	padding-left: 5px;
}

/* 検索ボタン */
.searchImg{
	width: 2em;
	height: 100%;
	vertical-align: bottom;
	border: 1px solid;
	border-radius: 15px
}

/* スクロールしたとき */
.is_scroll{
	height: 4vw;
	transition: 0.3s;
}

/* スマホ対応 */
@media screen and (max-width:846px) {
	
	.headerMain{
		flex-direction: column;
	}
	
	.headerList{
		margin: 0;
	}
	
	.logoLink{
		margin-bottom: 5px;
		margin-right: 2px;
	}
	
	.searchForm form {
		width: 95%;
	}

	.inputBox{
		float: left;
	}

	.is_scroll{
		height: 9vw;
	}
	
}